mat-select {
  font-size: 1rem;
}

mat-label {
  margin-left: 1rem;
  margin-right: 1rem;
}

button {
  margin-left: 1rem;
}

.mat-grid-tile {
  background: #f0f0f0;
  justify-content: left;
  align-items: unset;
  padding: 0;
}

.mat-grid-tile .mat-figure {
  /* justify-content: left; */
  align-items: unset;
}

ul {
  position: absolute;
  top: 2rem;
  left: 0;
}

h4 {
  position: absolute;
  top: 0;
}

Table {
  width: 80%;
  position: absolute;
  top: 0;
}

.highcharts-container {
  display: inline-block;
  margin: 0 auto;
}

.toolbar {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.75);
}
