<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="args mat-elevation-z6">
      <div class="row">
        <mat-form-field>
          <mat-label>Subject</mat-label>
          <mat-select [(value)]="selectedSubject">
            <mat-option value="lntm_train">Topic Model Training</mat-option>
            <mat-option value="other">Other Models</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Dataset</mat-label>
          <mat-select [(value)]="selectedDataset">
            <mat-option value="nips2018">NeurIPS 2018</mat-option>
            <mat-option value="cvpr2019">CVPR 2019</mat-option>
            <mat-option value="iclr2019">ICLR 2019</mat-option>
            <mat-option value="icml2019">ICML 2019</mat-option>
            <mat-option value="cvpr2018">CVPR 2018</mat-option>
            <mat-option value="icml2018">ICML 2018</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Epoch Number</mat-label>
          <input matInput type="number" min="5" max="20" [(ngModel)]="epochNum" />
        </mat-form-field>
      </div>
      <div class="row">
        <button mat-flat-button (click)="runSim()" class="run">
          Run
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="perf-main">
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile colspan="2" rowspan="1">
        <div class="header">
          <span class="title">Normal training process with TensorFlow</span>
          <span class="title">Training process with TensorFlow + CUDA kernels</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="6">
        <mat-list style="width: 100%">
          <mat-list-item *ngFor="let item of listArray; let i = index"
            [ngClass]="{ 'green-back': isEven(i), 'list-item': true }">
            <span *ngIf="cpuResult.length > i" class="cpu-result">Epoch {{ cpuResult[i].count }}<br />Time elasped:
              {{ cpuResult[i].timing.toFixed(16) }} Perplexity:
              {{ cpuResult[i].perplexity.toFixed(16) }}</span>
            <span *ngIf="gpuResult.length > i" class="gpu-result">Epoch {{ gpuResult[i].count }}<br />Time elasped:
              {{ gpuResult[i].timing.toFixed(16) }} Perplexity:
              {{ gpuResult[i].perplexity.toFixed(16) }}</span>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="10">
        <div class="perf-bar-chart mat-elevation-z6">
          <p class="bar-chart-title">Average Performance</p>
          <svg id="bar-chart" viewBox="0 0 1000 320"></svg>
          <span class="bar-chart-title">Maximum Accelerate Ratio:</span>
          <span class="bar-chart-title" *ngIf="maxRatio > 0">{{maxRatio}}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
