mat-sidenav-container {
  /* height: calc(100% - 64px); */
  /* min-height: calc(100% - 128px); */
  /* height: calc(100% - 128px); */
  /* height: -o-calc(100% - 65px); */
  /* opera */
  /* height: -webkit-calc(100% - 65px); */
  /* google, safari */
  /* height: -moz-calc(100% - 65px); */
  /* firefox */
  overflow: hidden;
}

mat-sidenav {
  width: 32vw;
  background: #e4e4e4;
}

.args {
  margin: 120px auto;
  width: 22vw;
  background: white;
  text-align: center;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.args .row {
  margin: 20px;
}

.perf-main {
  min-height: 93vh;
}

.perf-main .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px solid #DCDCDC;
  margin: 20px 50px;
  padding-bottom: 5px;
  color: #436e49;
  font-weight: 500;
}

.perf-main .header .title {
  padding: 0 120px;
}


mat-form-field {
  line-height: 2rem;
}

mat-label {
  font-size: 1.5rem;
  font-weight: 500;
}

.run {
  background: #436e49;
  color: white;
  width: 128px;
  height: 60px;
  font-size: 1.5rem;
}

mat-list {
  margin: 20px 50px;
}

.list-item {
  min-height: 50px;
  height: 50px;
  color: #707070;
  font-family: monospace;
  font-size: 1rem;
  font-weight: medium;
}

.green-back {
  background: #F6F8F6;
}

.perf-bar-chart {
  height: 420px;
  width: 100%;
  margin: 20px 50px;
  padding: 20px;
}

.cpu-result {
  /* align-self: flex-start; */
  margin-left: 30px;
  font-size: .8rem;
}

.gpu-result {
  margin-left: auto;
  margin-right: 30px;
  font-size: .8rem;
}

.bar-chart-title {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 500;
  color: #707070;
}
