<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span class="title">Paper Statistic</span>
    <span>
      <button mat-button (click)="gotoUrl('/')">Home</button>
      <button mat-button [matMenuTriggerFor]="menu">Statistic Results</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="gotoUrl('/maps')">Region
          Visualization</button>
        <button mat-menu-item (click)="gotoUrl('/word-cloud')">Topic
          Clusters</button>
      </mat-menu>
      <button mat-button (click)="gotoUrl('/performance')">Performance
        Comparison</button>
      <!--<mat-form-field>
        <input matInput type="text" name="search" placeholder="Keywords..." id="main_search">
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>-->
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [(opened)]="openSide">
    <app-category-tree [singleCheck]="singleCheck"></app-category-tree>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
