.toolbar {
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
}

mat-drawer-container {
  height: calc(100% - 64px);
  height: -o-calc(100% - 65px);
  /* opera */
  height: -webkit-calc(100% - 65px);
  /* google, safari */
  height: -moz-calc(100% - 65px);
  /* firefox */
  overflow: hidden;
}

mat-drawer {
  width: 20rem;
}

.title {
  margin-right: 5rem;
}

#main_search {
  margin-left: 2rem;
  /* font-size: 1rem; */
}
