.paper-app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3rem;
  width: 100%;
  min-height: calc(100% - 64px);
  height: calc(100vh-48px);
}

.toolbar {
  /* position: sticky; */
  /* position: -webkit-sticky; */
  position: fixed;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 2;
  /* Ensure that your app's content doesn't overlap the toolbar */
  min-height: 3rem;
  max-height: 3rem;
}


mat-drawer-container {
  /* height: calc(100% - 64px); */
  min-height: calc(100% - 64px);
  height: 100%;
  height: -o-calc(100% - 65px);
  /* opera */
  height: -webkit-calc(100% - 65px);
  /* google, safari */
  height: -moz-calc(100% - 65px);
  /* firefox */
  overflow: hidden;
}

mat-drawer {
  width: 16rem;
}

.title {
  margin-right: 5rem;
}

#main_search {
  margin-left: 2rem;
  /* font-size: 1rem; */
}

.main-content {
  min-height: 95vh;
}
