.paper-app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.2rem;
  width: 100%;
  /* min-height: calc(100% - 64px); */
  /* height: calc(100%-64px); */
}

.toolbar {
  /* position: sticky; */
  /* position: -webkit-sticky; */
  position: fixed;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 2;
  /* Ensure that your app's content doesn't overlap the toolbar */
  min-height: 3rem;
  background: #436e49;
  color: #ffffff;
}

.toolbar-row .title {
  margin-left: 5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  line-height: 1.2rem;
  text-align: left;
}

.toolbar-row .title .logo {
  width: 10%;
  height: auto;
}

.toolbar-row {
  display: flex;
  justify-content: space-between;
}


mat-drawer-container {
  /* height: calc(100% - 64px); */
  /* min-height: calc(100% - 128px); */
  /* height: cals(100%-428px); */
  /* height: -o-calc(100% - 65px); */
  /* opera */
  /* height: -webkit-calc(100% - 65px); */
  /* google, safari */
  /* height: -moz-calc(100% - 65px); */
  /* firefox */
  overflow: hidden;
}

mat-drawer {
  /* width: 16rem; */
  width: 18vw;
  background: #f4f4f4;
}

#main_search {
  margin-left: 2rem;
  /* font-size: 1rem; */
}

.main-content {
  min-height: 93vh;
  background: #ffffff;
}

.toolbar-row .menu {
  font-size: 1rem;
  font-weight: bold;
}

.custom-menu-item {
  color: white;
}

::ng-deep .custom-menu {
  background: #2c4830;
}

.statistic:hover {
  background: #2c4830;
}
