<mat-toolbar color="primary" class="shrink">
  <mat-toolbar-row>
    <span>Paper Statistic</span>
    <span>
      <a routerLink="/">Home</a>
      <button mat-button [matMenuTriggerFor]="menu">Statistic Results</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><a routerLink="/maps">Region Visualization</a></button>
        <button mat-menu-item><a routerLink="/word-cloud">Topic Clusters</a></button>
      </mat-menu>
      <a routerLink="/performance" style="margin-right:600px">Performance Comparison</a>
	  <input type="text" name="search" placeholder="search">
      <button mat-icon-button style="margin-left:30px"><mat-icon>search</mat-icon></button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
