/* You can add global styles to this file, and also import other style files */

@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/tree/style/index.min.css";

/* Import basic styles */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
