<div class="paper-head">
  <form>
    <div class="form-border">
      <input type="text" placeholder="Search with topic words...">
      <button type="submit">
        <i class="material-icons md-24 search-icon">search</i></button></div>
  </form>
</div>
<div class="papers">
  <ul>
    <li *ngFor="let paper of papersInPage">
      <app-paper-detail [paper]="paper"></app-paper-detail>
    </li>
  </ul>
  <!--<div class="container">
    <div class="label">Go to page:</div>
    <mat-form-field class="input-form"><input matInput maxlength="5">
    </mat-form-field>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true" (page)="pageEvent($event)">
    </mat-paginator>
  </div>-->
</div>
