.papers {
  max-width: 75rem;
  margin: auto;
  width: 65vw;
}

ul {
  list-style-type: none;
  text-align: justify;
}

li {
  margin: 2rem 0;
}

.pagination {
  text-align: right;
  /* padding-top: 1rem; */
  margin: 1rem;
  margin-right: 0;
  /* padding: 1rem; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

mat-paginator {
  /* background: #fafafa; */
  margin: 0;
}

.label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  margin-right: 0.5rem;
}

.input-form {
  width: 5rem;
}

.paper-head {
  padding: 30px 0;
  max-width: 75rem;
  margin: auto;
  border-bottom: 2px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  background-color: white;
  line-height: 56px;
  align-items: center;
}

.paper-foot {
  padding: 30px 0;
  max-width: 75rem;
  margin: auto;
  border-top: 2px solid #d1d1d1;
  display: flex;
  justify-content: center;
}

.paper-head form {
  width: 50%;
}


.paper-head .form-border {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #b3b3b3;
  width: 100%;
  border-radius: 2px;
}

.paper-head input[type=text] {
  padding: 0px;
  border: none;
  font-size: 16px;
  height: 32px;
  flex-grow: 1;
}


.paper-head button {
  padding: 0px 10px 0px 10px;
  background: #b3b3b3;
  font-size: 16px;
  border: none;
  cursor: pointer;
  align-items: flex-start;
  height: 32px;
}

.paper-head .search-icon {
  padding-top: 5px;
  color: white;
}
