a {
  color: #62a4ff;
  text-decoration: none;
}

.title {
  font-size: 1rem;
  font-weight: medium;
}

.infos {
  color: #a3a3a3;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 0.75rem;
}

.infos span {
  margin-left: 0;
  margin-right: 1rem;
}


.abstract {
  /* autoprefixer: ignore next */
  display: -webkit-box;
  color: #707070;
  overflow: hidden;
  height: 2.4rem;
  line-height: 0.8rem;
  font-size: 0.75rem;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
