h3 {
  font-weight: normal;
}


.infos {
  color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.infos span {
  margin-left: 0;
  margin-right: 1rem;
}


.abstract {
  /* autoprefixer: ignore next */
  display: -webkit-box;
  color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  height: 3.6rem;
  line-height: 1.2rem;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}
