.header {
  margin: 50px 150px;
  margin-bottom: 10px;
  color: #436e49;
  border-bottom: 2px solid;
  overflow: auto;
  border-color: #d1d1d1;
  padding-bottom: 10px;
}

.header::after {
  content: "";
  clear: both;
  display: table;
}

.header .view-switch {
  float: right;
  color: #a3a3a3;
  display: flex;
  width: 10%;
  justify-content: space-between;
}

.align-icon {
  position: absolute;
  margin-bottom: 5px;
  margin-right: 95px;
}

.green-back {
  background: #f6f8f6;
}

.list {
  margin: 0px 150px;
}
