.header {
  margin: 50px 150px;
  margin-bottom: 10px;
  color: #436e49;
  border-bottom: 2px solid;
  overflow: auto;
  border-color: #d1d1d1;
  /* padding-bottom: 10px; */
}

.header::after {
  content: "";
  clear: both;
  display: table;
}

.header .view-switch {
  float: right;
  display: flex;
  width: 14%;
  justify-content: space-between;
  color: #a3a3a3;
}

.header .view-switch span {
  line-height: 40px;
}

.activated {
  color: red;
}

.align-icon {
  position: absolute;
  margin-bottom: 5px;
  margin-right: 95px;
}

.green-back {
  background: #f6f8f6;
}

.list {
  margin: 0px 150px;
}

.grid {
  margin: 0px 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.grid .cell {
  width: 400px;
  height: 128px;
  margin-bottom: 20px;
  border-radius: 15px;
  position: relative;
}

.grid .cell .keyword {
  height: 128px;
  line-height: 128px;
  text-align: center;
  /* padding: 30px 0; */
  font-size: 2rem;
  font-weight: bold;
  color: #7f8e81;
}

.grid .cell .weight {
  position: absolute;
  width: 380px;
  height: 24px;
  line-height: 24px;
  bottom: 0;
  left: 0;
  text-align: right;
  background: #eadb9f;
  color: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-right: 20px;
  /* margin-right: 20px; */
}

.list-title {
  font-weight: 500;
  color: #436e49;
}

.align-half {
  width: 50%;
  text-align: center;
}
